# Default ignored files
/../../csc_212_prj 4 /.idea/shelf/
/../../csc_212_prj 4 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../csc_212_prj 4 /.idea/httpRequests/
# Datasource local storage ignored files
/../../csc_212_prj 4 /.idea/dataSources/
/../../csc_212_prj 4 /.idea/dataSources.local.xml
